* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    background-image: url(/src/img/sfondo.jpg);
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

nav h1 {
    margin-right: 20rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8D8E8E;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem 1.25rem;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #274690;
}

img {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin-right: 1rem;
}